@import "../custom-properties";

.calc-header{
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $screen-bg-1; 
    background-color: $toggle-bg-1; 
    max-width: 498px;
    width: 498px;
    height: 72px;
    max-height: 72px;
    background-color:$main-bg-1;
    .toggle-container{
        display: flex;
        flex-direction: row;
    .theme-number{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
        .toggle{
            // background-color: $toggle-bg-1;
            background-color: $screen-bg-1;
            height: 25px;
            width: 61px;
            padding: 3px 0px 0px 4px;
            border-radius: 10.5rem;
            div:first-child{
                margin: 0 0;
                width: 33%;
                height: 81%;
                background-color: red;
                border-radius: 50%;
            }
        }
    }
}