.calc-output{
    height:115px;
    width: 488px;
    background-color: $screen-bg-1;
    border-radius: .2rem;
    p{
        font-size: 3rem;
        float: right;
        line-height: 0;
        color: white;
        padding-top: 3%;
        padding-right: 4%;
    }
}