@import "../custom-properties";

.calc-header{
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $screen-bg-1; 
    background-color: $toggle-bg-1; 
    max-width: 498px;
    width: 498px;
    height: 72px;
    max-height: 72px;
    background-color:$main-bg-1;
    .toggle-container{
        display: flex;
        flex-direction: row;
        div{
            p{
                font-size: .8rem;
                padding: 11px 10px 0 0;
            }
        }
    .theme-number{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

        .toggle{
            display: inline-flex;
            flex-direction: row;
            background-color: $screen-bg-1;
            height: 25px;
            width: 61px;
            padding: 3px 0px 0px 4px;
            border-radius: 10.5rem;
            // Any toggle that is considered "checked"
            .toggle-selection{
                margin: 0 0;
                width: 33%;
                height: 81%;
                border-radius: 50%;
                span.checkmark{
                    margin-top: 10%;
                    display: inline-block;
                    height: 75%;
                    width: 73%;
                    // background-color: gray;
                    border-radius: 50%;
                    transition:opacity 0.3s ease;
                    opacity: 0.3;
                }
                input:checked + .checkmark{
                    opacity: 1;
                    display: inline-block;
                    z-index: 2;
                    background-color: red;
                }
                input:not(:checked) + .checkmark:hover{
                    background-color: red;
                }
                input[type="radio"]{
                    // display: none;
                }
            }
        }
    }
}
