// Colors

// ************** Theme - 1 **************

// Backgrounds

// Main Background
$main-bg-1: hsl(222,22%,31%);
// Toggle Background
$toggle-bg-1: hsl(223,31%,20%);
// Screen Background
$screen-bg-1: hsl(224, 36%, 15%);

// Keys on the calculator
// delete keys
$key-bg-rm-1: hsl(225, 21%, 49%); 
$key-shadow-rm-1: hsl(224, 28%, 35%);
// Equals Btn
$key-bg-equals-1: hsl(6, 63%, 50%);
$key-shadow-equals-1: hsl(6, 70%, 34%);
// num
$key-num-bg-1: hsl(30, 25%, 89%);
$key-num-shadow-1: hsl(28, 16%, 65%);

// Text
$text-1: hsl(221, 14%, 31%);

//  ************** Theme 2 ************** 

// #### Backgrounds

$main-bg-2: hsl(0, 0%, 90%);
$toggle-bg-2: hsl(0, 5%, 81%);
$screen-bg-2: hsl(0, 0%, 93%);

// #### Keys

$key-bg-rm-2: hsl(185, 42%, 37%);
$key-shadow-rm-2: hsl(185, 58%, 25%);

$key-bg-equals-2: hsl(25, 98%, 40%);
$key-shadow-equals-2: hsl(25, 99%, 27%);

$key-bg-num-2: hsl(45, 7%, 89%);
$key-shadow-num-2: hsl(35, 11%, 61%);

// #### Text

$text-2: hsl(60, 10%, 19%);

//  ************** Theme 3 ************** 

// ** Backgrounds

// main background
$main-bg-3: hsl(268, 75%, 9%);
// toggle background, keypad background, screen background
$secondary-bg-3: hsl(268, 71%, 12%);

// #### Keys
// Removal Btn
$key-bg-equals-3: hsl(281, 89%, 26%);
$key-shadow-equals-3: hsl(285, 91%, 52%);

// Equals Btn(also the toggle btn)
$key-bg-equals-3: hsl(176, 100%, 44%);
$key-shadow-equals-3: hsl(177, 92%, 70%);
// num
$key-num-bg-3: hsl(268, 47%, 21%);
$key-num-shadow-3: hsl(290, 70%, 36%);

// #### Text

$text-3: hsl(52, 100%, 62%);
$text-equals-3: hsl(198, 20%, 13%);